<%
  var list = [
    {
      thumb: '/assets/images/works/img1.jpg',
      ttl: '１タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img2.jpg',
      ttl: '２タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img3.jpg',
      ttl: '３タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img4.jpg',
      ttl: '４タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img5.jpg',
      ttl: '５タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img6.jpg',
      ttl: '６タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img7.jpg',
      ttl: '７タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img8.jpg',
      ttl: '８タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img9.jpg',
      ttl: '９タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img10.jpg',
      ttl: '１０タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img11.jpg',
      ttl: '１１タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
    {
      thumb: '/assets/images/works/img12.jpg',
      ttl: '１２タイトルタイトルタイトル',
      desc: 'サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル',
    },
  ];
%>

<ul class="works">
<% list.forEach(item => {-%>
  <li class="works__list">
    <div class="works__list__thumb"><img src="<%= item.thumb %>" alt=""></div>
    <h3 class="works__list__ttl"><%= item.ttl %></h3>
    <p class="works__list__desc"><%= item.desc %></p>
  </li>
<%})-%>  
</ul>