<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>サンプルラリアット</title>
  <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>
  <%- include('./_modules/_works.ejs') %>
  <script src="./assets/js/modules.js"></script>
  <script src="./assets/js/index.js"></script>
</body>
</html>
