@import './mixins/_media.scss';
@import './base/_ress.scss';
@import './base/_base.scss';
html,body {
  background: #000;
}
.works {
  margin: auto;
  position: relative;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  &__list {
    width: 100vw;
    height: 100vh;
    position: relative;
    opacity: 0.6;
    transform: scale(1.05);
    filter: blur(20px);
    transition: all 0.5s ease;
    &__thumb {
      position: relative;
      overflow: hidden;
      img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
      }
    }
    &__ttl,
    &__desc {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80vw;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #ffffff;
    }
    &__ttl {
      top: 40%;
    }
    &.is-active {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
  }
}
::scrollbar {
  display: none;
}